<template>
  <div>
    <navbar />
    <v-container fluid>
      <div class="elearning mb-5">
        <img src="@/assets/user/3794012.png" alt />
      </div>
      <div>
        <div class="row">
          <div class="course col-12 col-md-4" v-for="pos in links" :key="pos.id">
            <router-link router :to="pos.route" tag="span">
              <v-hover v-slot:default="{ hover }" open-delay="200">
                <v-card :elevation="hover ? 16 : 2" class="mx-auto course my-12" max-width="374">
                  <v-img height="250" :src="pos.image"></v-img>

                  <v-card-title>{{ pos.title }}</v-card-title>

                  <v-card-text>
                    <v-divider class="mx-3"></v-divider>

                    <div class="my-4 subtitle-1">
                      catogory:
                      <span class="text-info">{{ pos.catogory }}</span>
                    </div>

                    <div>
                      Small plates, salads & sandwiches - an intimate setting
                      with 12 indoor seats plus patio seating.
                    </div>
                  </v-card-text>
                </v-card>
              </v-hover>
            </router-link>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import detalcourse from "./detail_video";
import navbar from "../navbar";
import mydata from "@/config/data.json";
export default {
  data() {
    return {
      // get data from json fike /@config/data.json
      links: mydata,
      // get data from json fike /@config/data.json
    };
  },
  components: {
    navbar,
    detalcourse,
  },
};
</script>
<style scoped>
/* .course {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.elearning {
  background-image: url("../../assets/user/ex.jpg");
  background-size: cover;
  margin-bottom: 50px;
}
.elearning img {
  max-width: 100%;
}
.elearning h4 {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: black;
}
</style>
