<template>
  <div>
    <v-container>
      <div class="detail shadow" v-for="post in mydata" :key="post.id">
        <video class="video" width="100%" controls>
          <source :src="post.videoLink" type="video/mp4" />
        </video>
        <v-card color="basil">
          <v-card-title>
            <h3 class="font-weight-bold basil--text mr-5 text-success">#{{ post.id }}</h3>
            <h3 class="font-weight-bold basil--text">{{ post.title }}</h3>
          </v-card-title>

          <v-tabs background-color="white" color="green accent-4">
            <v-tab v-model="tab1">ອະບາຍກ່ຽວກັບຄອດສ</v-tab>
            <v-tab v-model="tab2">ຖາມ-ຕອບ</v-tab>
            <v-tab>Abstract</v-tab>

            <v-tab-item v-model="tab1">
              <v-container fluid>
                <v-row>
                  <v-col col="12" md="12">
                    <h4>ກ່ຽວກັບຫລັກສູດນີ້</h4>
                    <div class="ml-5">
                      <p class="text-info">{{ post.discription }}</p>
                    </div>
                    <v-divider class="mx-1"></v-divider>
                    <h4>Detail</h4>
                    <div class="ml-5">
                      <p class="text-info">
                        <v-icon>mdi-call-split</v-icon>ລະດັບທັກສະໃນການຮຽນ: All
                        level
                      </p>
                      <p class="text-info">
                        <v-icon>mdi-timer-outline</v-icon>
                        ຄວາມຍາວຄິບ:{{ post.time }}
                      </p>
                      <p class="text-info">
                        <v-icon>mdi-book-multiple-outline</v-icon>ລວມທັງຫມົດມ: 5 ບົດ
                      </p>
                      <p class="text-info">
                        <v-icon>mdi-translate</v-icon>ພາສາໃນການສອນ: English
                      </p>
                    </div>
                    <h4>ຂ້ໍມູນຈາກ</h4>
                    <div class="ml-5">
                      <p class="text-info">
                        <v-icon>mdi-school-outline</v-icon>ມະຫາວິທະຍາໄລເເຫ່ງສາດ
                      </p>
                      <p class="text-info">
                        <v-icon>mdi-school-outline</v-icon>ວິທະຍາສາດທຳມະຊາດ
                      </p>
                      <p class="text-info">
                        <v-icon>mdi-school-outline</v-icon>ວິທະຍາສາດຄອດ
                      </p>
                    </div>
                    <h4>ຂ້ມູນອາຈານສອນ</h4>
                    <!-- ຂ້ມູນອາຈານສອນ -->
                    <div class="ml-5">
                      <v-expansion-panels popout>
                        <v-expansion-panel v-for="(message, i) in messages" :key="i" hide-actions>
                          <v-expansion-panel-header>
                            <v-row align="center" class="spacer" no-gutters>
                              <v-col cols="4" sm="2" md="1">
                                <v-avatar size="36px">
                                  <img
                                    v-if="message.avatar"
                                    alt="Avatar"
                                    src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
                                  />
                                  <v-icon v-else :color="message.color" v-text="message.icon"></v-icon>
                                </v-avatar>
                              </v-col>

                              <v-col class="hidden-xs-only" sm="5" md="3">
                                <strong v-html="message.name"></strong>
                                <span
                                  v-if="message.total"
                                  class="grey--text"
                                >&nbsp;({{ message.total }})</span>
                              </v-col>

                              <v-col class="text-no-wrap" cols="5" sm="3">
                                <v-chip
                                  v-if="message.new"
                                  :color="`${message.color} lighten-4`"
                                  class="ml-0 mr-2 black--text"
                                  label
                                  small
                                >{{ message.new }} new</v-chip>
                                <strong v-html="message.title"></strong>
                              </v-col>

                              <v-col
                                v-if="message.excerpt"
                                class="grey--text text-truncate hidden-sm-and-down"
                              >
                                &mdash;
                                {{ message.excerpt }}
                              </v-col>
                            </v-row>
                          </v-expansion-panel-header>

                          <v-expansion-panel-content>
                            <v-divider></v-divider>
                            <v-card-text v-text="lorem"></v-card-text>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>
                    </div>
                    <!-- ຂ້ມູນອາຈານສອນ -->
                  </v-col>
                </v-row>
              </v-container>
            </v-tab-item>
            <v-tab-item v-model="tab2">
              <v-container fluid>
                <v-row>
                  <comment-grid
                    baseURL="https://the-winner-1168c.firebaseio.com"
                    apiKey="AIzaSyA3l9lPvM0OiNgKnjHg4wCsakv_89wqtTk"
                    nodeName="bobbie"
                  ></comment-grid>
                </v-row>
              </v-container>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<script>
import navbar from "../navbar";
import myjson from "@/config/course.json";
import { db, fb } from "@/config/database";
export default {
  data() {
    return {
      tab1: null,
      tab2: null,
      mydata: myjson,
      messages: [
        {
          avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
          name: "ອຈ ດວງວິໄລ ມະນີກີງເເກ້ວ",
          title: "ມາຮຽນພ້ອມໆກັນ",
          excerpt: "ຂອບໃຂສຳລັບການເຂົ້າມາຮຽນຮູ້ຂອງທ່ານ",
        },
      ],
      lorem:
        "Lorem ipsum dolor sit amet, at aliquam vivendum vel, everti delicatissimi cu eos. Dico iuvaret debitis mel an, et cum zril menandri. Eum in consul legimus accusam. Ea dico abhorreant duo, quo illum minimum incorrupte no, nostro voluptaria sea eu. Suas eligendi ius at, at nemore equidem est. Sed in error hendrerit, in consul constituam cum.",
    };
  },
  components: {
    navbar,
  },
};
</script>
<style scoped>
.detail {
  margin-bottom: 50px;
  border: 1px red;
}
.video {
  border: 1px solid rgb(0, 195, 255);
  border-radius: 30px;
}
</style>
