<template>
  <div>
    <v-card class="page_login" color="basil">
      <v-card-title class="text-center justify-center py-6">
        <h1 class="font-weight-bold display-3 basil--text">The-winner</h1>
      </v-card-title>

      <v-alert class="container" dense text type="success">
        <h5 style=" font-family:Noto Sans lao">
          ຈົ່ງຢ່າໃຫ້ຮູ້ຄວາມອັນມີຄ່າຂອງທ່ານນັ້ນຢູ່ກັບທ່ານພຽງຄົນດຽວ
          <strong>ມາເເລກປ່ຽນປະສົບການ</strong> ເເລະ
          <strong>ຄວາມຮູ້ຕ່າງໆໄດ້ເເລ້ວທີ່ນີ້</strong>
        </h5>
      </v-alert>
      <div>
        <b-tabs content-class="mt-3" fill>
          <b-tab title="Login" active>
            <logincomponents></logincomponents>
          </b-tab>
          <b-tab title="Register">
            <registercomponent></registercomponent>
          </b-tab>
        </b-tabs>
      </div>
    </v-card>
  </div>
</template>

<script>
import logincomponents from "../login";
import registercomponent from "../users/register_user";

export default {
  components: {
    logincomponents,
    registercomponent,
  },
};
</script>
<style scoped>
.page_login {
  font-family: "noto sans lao";
}
</style>