<template>
  <div>
    <v-container>
      <v-form @submit.prevent="updateproject">
        <!-- title -->
        <v-row>
          <v-col cols="12" md="8">
            <v-text-field v-model="pos.title" :counter="130" label="Title" required></v-text-field>
          </v-col>
        </v-row>
        <!-- title -->
        <!-- link preview -->
        <v-row>
          <v-col cols="12" md="8">
            <v-text-field v-model="pos.preview" :counter="130" label="Title" required></v-text-field>
          </v-col>
          <v-col col="12" md="2">
            <v-checkbox v-model="pos.preview_link" label="Do you have a link "></v-checkbox>
          </v-col>
        </v-row>
        <!-- link previe -->
        <v-row>
          <v-col col="12" md="8">
            <date-picker class="pik" v-model="pos.created_at" valuetype="format"></date-picker>
          </v-col>
        </v-row>

        <v-row>
          <!-- content text area -->
          <v-col col="6" md="12">
            <vue-editor v-model="pos.content"></vue-editor>
          </v-col>
        </v-row>
        <!-- file -->
        <div>
          <v-row>
            <v-col col="12" md="12">
              <v-checkbox v-model="pos.file_dowload" label="Do you have a file for Dowload"></v-checkbox>
            </v-col>
          </v-row>
        </div>

        <div class="upload">
          <v-btn type="submit" block color="secondary" class="ma-2 white--text" dark>
            Upload file
            <v-icon right dark>mdi-cloud-upload</v-icon>
          </v-btn>
        </div>
      </v-form>
    </v-container>
    <Navbar />
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import Navbar from "../nav_admin";
import { db, fb } from "@/config/database";
import InputTag from "vue-input-tag";
import firebase from "firebase";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
export default {
  data() {
    return {
      pos: [],
    };
  },
  created() {
    let ref = db
      .collection("infomations")
      .where("title", "==", this.$route.params.edit);
    ref.get().then((snapshot) => {
      snapshot.forEach((doc) => {
        this.pos = doc.data();
        this.pos.id = doc.id;
      });
    });
  },
  methods: {
    updateproject() {
      db.collection("infomations")
        .doc(this.pos.id)
        .update(this.pos)
        .then((docRef) => {
          console.log("Document written with ID: ", docRef);
        })
        .catch((error) => {
          console.error("Error adding document: ", error);
        })
        .then(confirm("ທ່ານຕ້ອງການອັບເດດຂໍ້ມູນບໍ"));
      this.$router.push("/admin/views");
    },
  },
  components: {
    VueEditor,
  },
};
</script>

<style></style>
