<template>
  <div>
    <v-container>
      <v-form @submit.prevent="uploadfile">
        <!-- title -->
        <v-row>
          <v-col cols="12" md="8">
            <v-text-field
              v-model="posts.title"
              :counter="130"
              label="ຫົວຂ້ໍ"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <!-- title -->
        <!-- link preview -->
        <v-row>
          <v-col cols="12" md="8">
            <v-text-field
              v-model="posts.preview"
              label="ລີ້ງຂ້ໍມີຂ້ໍມູນຕ້ອງການອ້າງອີງ"
              required
            ></v-text-field>
          </v-col>
          <v-col col="12" md="2">
            <v-checkbox
              v-model="posts.preview_link"
              label="Do you have a link "
            ></v-checkbox>
          </v-col>
        </v-row>
        <!-- link preview -->

        <v-row>
          <!-- content text area -->
          <v-col col="6" md="12" style="font-family:Noto Sans lao">
            <vue-editor v-model="posts.content"></vue-editor>
          </v-col>
        </v-row>
        <!-- image -->
        <div>
          <v-row>
            <v-col col="12" md="12" class="uploadproject">
              <p>{{ "Upload image is " + proccess + "% done" }}</p>
              <input type="file" class="choosfile" v-on:change="uploadImage" />
            </v-col>
          </v-row>
        </div>
        <!-- file -->
        <div>
          <v-row>
            <v-col col="12" md="8" class="uploadproject">
              <p>{{ "Upload Project is " + progressing + "% done" }}</p>
              <input
                type="file"
                class="choosfile"
                v-on:change="uploadproject"
              />
            </v-col>
            <v-col col="12" md="3">
              <v-checkbox
                v-model="posts.file_dowload"
                label="Do you have a file for Dowload"
              ></v-checkbox>
            </v-col>
          </v-row>
        </div>
        <div class="upload">
          <v-btn
            type="submit"
            block
            color="secondary"
            class="ma-2 white--text"
            dark
          >
            Upload file
            <v-icon right dark>mdi-cloud-upload</v-icon>
          </v-btn>
        </div>
      </v-form>
      <!-- <v-divider></v-divider> -->
      <h3 class="text-center text-success mt-5">Result</h3>
      <views />
    </v-container>
    <Navbar />
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import Navbar from "../nav_admin";
import { db, fb } from "@/config/database";
// import InputTag from "vue-input-tag";
import firebase from "firebase";
import VueyeDatepicker from "vueye-datepicker";
import views from "./views";
export default {
  data() {
    return {
      shower: true,
      //   notshower: true,
      proccess: 0,
      progressing: 0,
      //   create_at
      time1: null,
      time2: null,
      time3: null,
      //   create_at
      posts: {
        content: null,
        title: null,
        countview: 0,
        timestamp: new Date(),
        created_at: {
          value: new Date(),
          formattedValue: "",
        },
        files: "",
        images: "",
        preview: "",
        preview_link: true,
        file_dowload: true,
      },
    };
  },
  methods: {
    uploadImage(e) {
      let file = e.target.files[0];

      var storageRef = firebase.storage().ref("images/" + file.name);

      let uploadTask = storageRef.put(file);

      // console.log(e.target.files[0]);

      uploadTask.on(
        "state_changed",
        (snapshot) => {
          uploadTask.on("state_changed", (snapshot) => {
            var progress =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            this.proccess = progress.toFixed();
            console.log("Upload is " + progress + "% done");
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log("Upload is paused");
                break;
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log("Upload is running");
                break;
            }
          });
        },
        (error) => {},
        () => {
          uploadTask.snapshot.ref
            .getDownloadURL()
            .then((downloadURL) => {
              this.posts.images = downloadURL;
              console.log("File available at", downloadURL);
            })
            .then(() => {
              return a;
            });
        }
      );
    },
    uploadproject(e) {
      let file = e.target.files[0];

      var storageRef = firebase.storage().ref("projectsfile/" + file.name);

      let uploadTask = storageRef.put(file);

      // console.log(e.target.files[0]);

      uploadTask.on(
        "state_changed",
        (snapshot) => {
          uploadTask.on("state_changed", (snapshot) => {
            var progress =
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            this.progressing = progress.toFixed();
            console.log("Upload is " + progress + "% done");
            switch (snapshot.state) {
              case firebase.storage.TaskState.PAUSED: // or 'paused'
                console.log("Upload is paused");
                break;
              case firebase.storage.TaskState.RUNNING: // or 'running'
                console.log("Upload is running");
                break;
            }
          });
        },
        (error) => {},
        () => {
          uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
            this.posts.files = downloadURL;
            console.log("File available at", downloadURL);
          });
        }
      );
    },

    uploadfile(e) {
      // Add a new document with a generated id.
      if (confirm("Are you sure do you want to upload Data")) {
        db.collection("infomations")
          .add(this.posts)
          .then((docRef) => {
            console.log("Document written with ID: ", docRef.id);
            console.log(this.posts);
          })
          .catch((error) => {
            console.error("Error adding document: ", error);
          });
        e.preventDefault();
        this.$data.posts = "";
      }
    },
  },
  components: {
    Navbar,
    VueEditor,
    views,
    VueyeDatepicker,
  },
};
</script>

<style lang="scss" scoped>
.tag tags {
  width: 100%;
}

.upload {
  margin-top: 15px;
}
.uploadproject {
  border: solid 1px rgb(93, 93, 93);
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px;
}
.choosfile {
  color: green;
}
</style>
