<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">preview</th>
          <th scope="col">gitlab</th>
          <th scope="col">files</th>
          <th scope="col">Action</th>
          <th scope="col">Created_at</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(pos, index) in info" :key="index">
          <td>{{ index }}</td>
          <td class="image">
            <img :src="pos.images" />
          </td>
          <td>{{ pos.title }}</td>
          <td>
            <div v-if="pos.preview_link">
              <v-icon color="green">mdi-check-underline-circle-outline</v-icon>
            </div>
            <div v-else>
              <v-icon color="error">mdi-close-network-outline</v-icon>
            </div>
          </td>
          <td>
            <div v-if="pos.file_dowload">
              <v-icon color="green">mdi-cloud-check-outline</v-icon>
            </div>
            <div v-else>
              <v-icon color="error">mdi-cloud-off-outline</v-icon>
            </div>
          </td>
          <td>
            <router-link :to="{ name: 'edit', params: { edit: pos.title } }">
              <v-btn text small color="primary">Edit</v-btn>
            </router-link>

            <v-btn text small v-on:click="deletepost(pos.id)" color="error">Delete</v-btn>
          </td>
          <td>
            <span>{{ pos.created_at | moment("dddd, MMMM Do YYYY") }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <Navbar />
  </div>
</template>

<script>
import { db, fb } from "@/config/database";
import Navbar from "../nav_admin";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  data() {
    return {
      info: [],
    };
  },

  created() {
    db.collection("infomations")
      .orderBy("timestamp", "desc")
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          // doc.data() is never undefined for query doc snapshots
          console.log(doc.id, " => ", doc.data());
          var data = doc.data();
          data.id = doc.id;
          this.info.push(data);
        });
      });
  },
  methods: {
    deletepost(id) {
      if (confirm("ທ່ານເເນ່ໃຈບໍ່ວ່າທ່ານຕ້ອງການລືບຂ້ໍມູນນີ້")) {
        db.collection("infomations")
          .doc(id)
          .delete()
          .then(() => {
            this.info = this.info.filter((pos) => {
              return pos.id != id;
            });
          });
      }
    },
  },
  components: {
    Navbar,
  },
};
</script>

<style lang="scss" scoped>
.image img {
  width: 50px;
  height: 50px;
  border: solid 1px;
  border-radius: 10px;
}
</style>
