<template>
  <div>
    <navbar></navbar>
    <div class="elearning mb-5">
      <img src="@/assets/user/profile2.png" alt />
    </div>
    <v-container>
      <h1 class="text-center text-info">
        <v-icon class="text-info mt-5 mb-5 h1 pl-5">mdi-cable-data</v-icon>
        <span class="text-primary">ຫົວຂໍ້:</span> ການຮຽນຮູ້ທາງໄກໃນຍຸກໂຄວິດ19 (E-learning)
      </h1>
      <v-alert border="bottom" class="mt-5 mv-5" colored-border type="info" elevation="2">
        <h1 class="text-info">
          <span class="text-primary">ທີມ:</span>The-winner
        </h1>
      </v-alert>
    </v-container>
    <div class="container text-center">
      <v-row>
        <v-col col="12" md="4">
          <div class="profile">
            <img src="../assets/user/tom.jpg" alt="John" />
          </div>
          <div class="pagecart">
            <h4 class="mt-3">ທ ສຸກສັນ ຈັນທະພອນ</h4>
            <h5 style="font-family:Noto Sans lao" class="text-info mt-5">ຈາກສະຖາບັນ</h5>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ມະຫາວິທະຍາໄລເເຫ່ງຊາດ
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ຄະນະວິທະຍາສາດທຳມະຊາດ
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ວິທະຍາສາດຄອດພີວເຕີ
            </p>
            <h5 style="font-family:Noto Sans lao" class="text-info mt-5">ຕິດຕໍ່</h5>
            <p style=" font-family: HelvLight" class="text-left text-info">
              <v-icon class="text-info">mdi-email</v-icon>souksanchanthaphone@gmail.com
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-phone-outline</v-icon>020 77717347
            </p>
          </div>
        </v-col>
        <v-col col="12" md="4">
          <div class="profile">
            <img src="../assets/user/phone.jpg" alt="John" />
          </div>

          <div class="pagecart">
            <h4 style=" font-family:Noto Sans lao" class="mt-3">ທ ພອນຄຳ ເເກ້ວມະນີ້</h4>
            <h5 style="font-family:Noto Sans lao" class="text-info mt-5">ຈາກສະຖາບັນ</h5>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ມະຫາວິທະຍາໄລເເຫ່ງຊາດ
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ຄະນະວິທະຍາສາດທຳມະຊາດ
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ວິທະຍາສາດຄອດພີວເຕີ
            </p>
            <h5 style="font-family:Noto Sans lao" class="text-info mt-5">ຕິດຕໍ່</h5>
            <p style=" font-family: HelvLight" class="text-left text-info">
              <v-icon class="text-info">mdi-email</v-icon>phonekham@gmail.com
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-phone-outline</v-icon>020 28022677
            </p>
          </div>
        </v-col>
        <v-col col="12" md="4">
          <div class="profile">
            <img src="../assets/user/bob.jpg" alt="John" />
          </div>
          <div class="pagecart">
            <h4 style=" font-family:Noto Sans lao" class="mt-3">ທ ດວງວິໄລ ມະນີກີ່ງເເກ້ວ</h4>
            <h5 style="font-family:Noto Sans lao" class="text-info mt-5">ຈາກສະຖາບັນ</h5>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ມະຫາວິທະຍາໄລເເຫ່ງຊາດ
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ຄະນະວິທະຍາສາດທຳມະຊາດ
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-school-outline</v-icon>ວິທະຍາສາດຄອດພີວເຕີ
            </p>
            <h5 style="font-family:Noto Sans lao" class="text-info mt-5">ຕິດຕໍ່</h5>
            <p style=" font-family: HelvLight" class="text-left text-info">
              <v-icon class="text-info">mdi-email</v-icon>daungvilaybob5@gmail.com
            </p>
            <p style=" font-family:Noto Sans lao" class="text-left">
              <v-icon class="text-info">mdi-phone-outline</v-icon>020 96232674
            </p>
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import navbar from "./navbar";
export default {
  components: {
    navbar,
  },
};
</script>

<style scoped>
.container {
  font-family: "HelvLight";
}
.pagecart {
  /* border: 1px solid green; */
  /* width: 250px; */
  padding: 50px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(55, 190, 253, 0.178),
    0 6px 20px 0 rgba(59, 144, 255, 0.219);
}
.profile img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  border-radius: 200px;
  box-shadow: 0 4px 8px 0 rgba(55, 190, 253, 0.178),
    0 6px 20px 0 rgba(59, 144, 255, 0.219);
}
.pagecart:hover {
  /* border: 1px solid green; */
  border-radius: 10px;

  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(17, 174, 246, 0.356),
    0 6px 20px 0 rgba(8, 111, 246, 0.404);
}

.elearning {
  background-image: url("../assets/user/ex.jpg");
  background-size: cover;
  margin-bottom: 50px;
}
.elearning img {
  max-width: 100%;
  height: 400px;
}
.elearning h4 {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: black;
}
</style>
