<template>
  <div>
    <book></book>
    <div class="container-fluid">
      <div class="contain">
        <img src="@/assets/user/bg.svg" alt="Snow" />
        <div class="centered">
          <h3>E-book for every one</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>

      <div class="container">
        <v-row>
          <v-col cols="12" sm="6">
            <p>Editable</p>
            <v-overflow-btn
              class="my-2"
              :items="dropdown_edit"
              label="Editable Btn"
              item-value="text"
            ></v-overflow-btn>
          </v-col>
          <v-col cols="12" sm="6">
            <p>Editable</p>
            <v-overflow-btn
              class="my-2"
              :items="dropdown_edit"
              label="Editable Btn"
              item-value="text"
            ></v-overflow-btn>
          </v-col>
        </v-row>
      </div>
    </div>
  </div>
</template>

<script>
import book from "./navbar";
export default {
  data() {
    return {
      dropdown_edit: [
        { text: "100%" },
        { text: "75%" },
        { text: "50%" },
        { text: "25%" },
        { text: "0%" },
      ],
    };
  },
  components: {
    book,
  },
};
</script>
<style scoped>
.contain {
  position: relative;
  color: white;
  margin-top: 0;
  /* background-image: url("bgdesert.jpg"); */
}
.contain img {
  width: 100%;
  height: 200px;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
</style>