<template>
  <div>
    <div clast="container">
      <div class="hero-image">
        <div class="hero-text">
          <v-col col="12" md="12">
            <h3 class="font-weight-bold">Welcome to The-winner</h3>
            <h6>Our website for learn online</h6>
            <!-- <v-btn block class="mt-5" color="teal text--darken-2 " dark>Block Button</v-btn> -->
          </v-col>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.hero-image {
  background-image: url("../assets/image/BACKGROUND-01.png");

  background-color: white;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 700px;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  max-width: 75%;
  margin-top: 15px;
  max-width: fit-content(20em);
  text-shadow: 3px -2px 9px rgba(25, 136, 247, 0.85);
}
</style>
