<template>
  <div class="text-center text-success mb-5">
    <!-- <v-row>
      <v-col col="12" md="6">
        projectmeow
      </v-col>
      <v-col col="12" md="6">
        <h5>contact us</h5>
        <p>projectmeow9989@gmail.com</p>
      </v-col>
    </v-row>-->
    <v-divider></v-divider>
    @{{ new Date().getFullYear() }}
    <strong>www.The-winner.com</strong>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
export default {};
</script>

<style></style>
