<template>
  <div class="container-fluid">
    <navbar />
    <!-- <firtpage></firtpage> -->
    <videos></videos>

    <pagelogin />
    <!-- <service /> -->

    <project />
    <!-- <course /> -->
    <div
      class="fb-messengermessageus"
      messenger_app_id="<APP_ID>"
      page_id="<PAGE_ID>"
      color="<blue | white>"
      size="<standard | large | xlarge>"
    ></div>
    <Footer />
  </div>
</template>

<script>
import navbar from "./navbar";
import project from "./project";
import videos from "./video";
import Footer from "./footer";
import firtpage from "./firt_page";
import service from "./service";
import pagelogin from "./page_login";
import course from "./course/detail_video";
export default {
  data() {
    return {};
  },
  components: {
    navbar,
    project,
    videos,
    Footer,
    course,
    firtpage,
    service,
    pagelogin,
  },
};
</script>

<style></style>
