<template>
  <div>
    <h3>Register page</h3>
    <div class="container card pb-5 pt-5">
      <form @submit.prevent="signup">
        <div class="form-group text-left">
          <label for="">name</label>
          <input type="name" class="form-control" v-model="name" />
        </div>
        <div class="form-group text-left">
          <label for="">email</label>
          <input type="email" class="form-control" v-model="email" />
        </div>
        <div class="form-group text-left">
          <label for="">password</label>
          <input type="password" class="form-control" v-model="password" />
        </div>
        <button type="submit" class="btn btn-success">submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import slugify from "slugify";
import firebase from "firebase";
import { fb, db } from "../config/database";
export default {
  data() {
    return {
      name: null,
      email: null,
      password: null,
      feedback: null,
      slug: null,
    };
  },
  methods: {
    signup() {
      if (this.name && this.email && this.password) {
        this.slug = slugify(this.name, {
          replacement: "-",
          remove: /[*+~.()'"!:@]/g,
          lower: true,
        });
        let ref = db.collection("users").doc(this.slug);
        ref.get().then((doc) => {
          if (doc.exists) {
            this.feedback = "this name already exists";
          } else {
            firebase
              .auth()
              .createUserWithEmailAndPassword(this.email, this.password)
              .then((data) => {
                ref.set({
                  test: "hello",
                  name: this.name,
                  email: this.email,
                  user_ID: data.user.uid,
                });
              })
              .catch((err) => {
                console.log(err);
                this.feedback = err.message;
              });
            this.feedback = "this name is free to use";
          }
        });
        console.log(this.slug);
      } else {
        this.feedback = "you must enter in name";
      }
    },
  },
};
</script>
