<template>
  <div>
    <div class="container-fluid">
      <v-app id="inspire">
        <v-navigation-drawer v-model="drawer" app clipped>
          <v-list dense>
            <router-link tag="span" to="/">
              <v-list-item link>
                <v-list-item-action>
                  <v-icon color="grey darken-1">mdi-billboard</v-icon>
                </v-list-item-action>
                <v-list-item-action>
                  <h6>ຫນ້າຫລັກ</h6>
                </v-list-item-action>
              </v-list-item>
            </router-link>
            <router-link tag="span" to="/web">
              <v-list-item link>
                <v-list-item-action>
                  <v-icon color="grey darken-1">mdi-desktop-mac-dashboard</v-icon>
                </v-list-item-action>
                <v-list-item-action>
                  <h6>ບົດຄວາມ</h6>
                </v-list-item-action>
              </v-list-item>
            </router-link>
            <!-- <router-link tag="span" to="/book">
              <v-list-item link>
                <v-list-item-action>
                  <v-icon color="grey darken-1">mdi-bookshelf</v-icon>
                </v-list-item-action>
                <v-list-item-action>E-book</v-list-item-action>
              </v-list-item>
            </router-link>-->
            <router-link tag="span" to="/course">
              <v-list-item link>
                <v-list-item-action>
                  <v-icon color="grey darken-1">mdi-cloud-print-outline</v-icon>
                </v-list-item-action>
                <v-list-item-action>
                  <h6>ຄອດຮຽນ</h6>
                </v-list-item-action>
              </v-list-item>
            </router-link>
            <router-link tag="span" to="/about">
              <v-list-item link>
                <v-list-item-action>
                  <v-icon color="grey darken-1">mdi-account-circle-outline</v-icon>
                </v-list-item-action>
                <v-list-item-action>
                  <h6>ກ່ຽວກັບພວກເຮົາ</h6>
                </v-list-item-action>
              </v-list-item>
            </router-link>

            <v-subheader class="mt-4 grey--text text--darken-1">DETAIL SYSTEM</v-subheader>
            <v-list></v-list>

            <router-link tag="span" to="login">
              <v-list-item link>
                <v-list-item-action class="spin">
                  <v-icon color="grey darken-1">mdi-cog</v-icon>
                </v-list-item-action>
                <v-list-item-title class="grey--text text--darken-1">LOGIN TO SYSTEM</v-list-item-title>
              </v-list-item>
            </router-link>
          </v-list>
        </v-navigation-drawer>

        <v-app-bar app clipped-left color="white" dense>
          <v-app-bar-nav-icon tag="span" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

          <div class="logo">
            <img src="../assets/image/logo.png" width="80" alt />
          </div>
          <v-toolbar-title class="mr-12 align-center">
            <span class="title text-success">The-winner</span>
          </v-toolbar-title>
        </v-app-bar>
      </v-app>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
    };
  },
};
</script>
<style scoped>
h6 {
  font-family: "noto sans lao";
}
#inspire {
  position: absolute;
  top: 50px;
}
.logo img {
  width: 30px;
  height: 30px;
  margin: 3px;
}
.spin {
  animation: spin 2s infinite ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>>