<template>
  <div>
    <div class="container text-center">
      <v-row>
        <v-col col="12" md="6">
          <div class="pagecart">
            <router-link to="/login_register" tag="span">
              <a href>
                <img src="../assets/image/login.png" alt />
                <h4 class="mt-3">Login</h4>
                <p style=" font-family:Noto Sans lao">ລອ໋ກອີນສຳຫຼັບເຂົ້າເເບ່ງປັນຄວາມຮູ້ຂອງທ່ານ</p>
              </a>
            </router-link>
          </div>
        </v-col>
        <v-col col="12" md="6">
          <div class="pagecart">
            <router-link to="/web" tag="span">
              <a href>
                <img src="../assets/image/write.png" alt />
                <h4 style=" font-family:Noto Sans lao" class="mt-3">ເບີ່ງບົດຄວາມ</h4>
                <p style=" font-family:Noto Sans lao">ອ່ານບົດຮຽນ ຫຼື ຄວາມຮູ້ຕ່າງໆ</p>
              </a>
            </router-link>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col col="12" md="12">
          <div class="pagecart">
            <router-link to="/course" tag="span">
              <a href>
                <img src="../assets/image/view.png" alt />
                <h4 class="mt-3">ເຂົ້າຮຽນຄອດສ</h4>
                <p style=" font-family:Noto Sans lao"></p>
              </a>
            </router-link>
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.container {
  font-family: "HelvLight";
}
.pagecart {
  /* border: 1px solid green; */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(55, 190, 253, 0.178),
    0 6px 20px 0 rgba(59, 144, 255, 0.219);
}
.pagecart a {
  text-decoration: none;
}
.pagecart img {
  width: 35px;
}
.pagecart:hover {
  /* border: 1px solid green; */
  border-radius: 10px;

  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(17, 174, 246, 0.356),
    0 6px 20px 0 rgba(8, 111, 246, 0.404);
}
</style>
