<template>
  <div>
    <h4 class="text-center mt-5">ບົດຄວາມບາງສ່ວນ</h4>
    <v-container class="lighten-4">
      <div v-for="(post, index) in info" :key="index">
        <v-row>
          <v-col col="6" md="12">
            <h5>{{ post.title }}</h5>
            <p>
              <v-icon color="green">mdi-alarm</v-icon>
              {{ post.created_at | moment(" MMMM Do YYYY") }}
            </p>
            <p></p>
            <v-row>
              <v-col col="4" md="4" class="image">
                <img :src="post.images" alt />
              </v-col>
              <v-col col="8" md="8">
                <!-- <p style="font-family: noto sans lao;">
                  ທ່ານສາມາດອ່ານບົດຄວາມເພີ່ມເຕີ່ມຂອງພວກໃດ້ເລີຍ
                  <span
                    class="green--text"
                  >{{ post.title }}</span> ຫລື
                  ສາມາດເບິ່ງຂໍ້ມູນເພີ່ມເດຕີມໃດ້ທີ່
                </p>-->
                <router-link tag="span" :to="{ name: 'view', params: { viewproject: post.title } }">
                  <v-btn class="ma-2" outlined color="indigo">ອ່ານເພີ່ມເຕີມ...</v-btn>
                </router-link>
              </v-col>
            </v-row>
            <v-divider></v-divider>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import { db, fb } from "@/config/database";
import "bootstrap/dist/css/bootstrap.css";
import { mdiAccountGroupOutline } from "@mdi/js";
import "bootstrap-vue/dist/bootstrap-vue.css";
export default {
  data() {
    return {
      info: [],
    };
  },

  created() {
    db.collection("infomations")
      .orderBy("timestamp", "desc")
      .limit(6)
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          // doc.data() is never undefined for query doc snapshots
          console.log(doc.id, " => ", doc.data());
          var data = doc.data();
          data.id = doc.id;
          this.info.push(data);
        });
      });
  },
  components: {},
};
</script>

<style lang="scss" scoped>
.image img {
  width: 100%;
  max-width: 600px;
}
</style
>>
