<template>
  <div>
    <div class="container mb-5 mt-5">
      <v-divider></v-divider>
      <h3 class="text-center">OUR SERVICES</h3>
      <h5 class="text-center" style="font-family: noto sans lao;">
        ເຮົາໃຫ້ບໍລິການໃນລາຄາເປັນກັນເອງ ເເລະ ຖືກສຸດໆ ເເຕ່ວ່າຄວາມມາດບໍ່ຖືກຕາມລາຄາ
        ເພາະສະນັ້ນຈົ່ງເຊື່ອໃຈໃນການບໍລິການຂອງພວກເຮົາ
      </h5>
    </div>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <!-- timeline 1 -->
      <v-timeline-item icon="mdi-laptop-mac" fill-dot>
        <v-card dark>
          <div dark @click="sheet1 = !sheet1">
            <v-card-text class="white text--primary">
              <img src="../assets/image/web_development.png" width="240" alt />
              <v-card-title class="headline">
                <h5>Web application development services</h5>
              </v-card-title>
              <p>
                We leverage modern technology and use cloud-based platforms to
                build custom web apps that are attractive, high performing, fully
                functional, as well as scalable to enterprise growth.
              </p>
              <v-btn class="mx-0" outlined>Button</v-btn>
            </v-card-text>
          </div>
        </v-card>

        <div class="text-center">
          <v-bottom-sheet v-model="sheet1">
            <v-sheet class="text-center" height="800px">
              <v-btn class="mt-6" text color="red" @click="sheet1 = !sheet1">close</v-btn>
              <div class="py-3">test 1</div>
            </v-sheet>
          </v-bottom-sheet>
        </div>
      </v-timeline-item>
      <!-- timeline 1 -->
      <!-- timeline 2 -->
      <v-timeline-item icon="mdi-laptop-mac" fill-dot>
        <v-card dark>
          <div dark @click="sheet2 = !sheet2">
            <v-card-text class="white text--primary">
              <img src="../assets/image/apo.png" width="240" alt />
              <v-card-title class="headline">
                <h5>Web application development services</h5>
              </v-card-title>
              <p>
                We leverage modern technology and use cloud-based platforms to
                build custom web apps that are attractive, high performing, fully
                functional, as well as scalable to enterprise growth.
              </p>
              <v-btn class="mx-0" outlined>Button</v-btn>
            </v-card-text>
          </div>
        </v-card>

        <div class="text-center">
          <v-bottom-sheet v-model="sheet2">
            <v-sheet class="text-center" height="800px">
              <v-btn class="mt-6" text color="red" @click="sheet2 = !sheet2">close</v-btn>
              <div class="py-3">test 2</div>
            </v-sheet>
          </v-bottom-sheet>
        </div>
      </v-timeline-item>
      <!-- timeline 2 -->
      <!-- timeline 3 -->
      <v-timeline-item icon="mdi-laptop-mac" fill-dot>
        <v-card dark>
          <div dark @click="sheet3 = !sheet3">
            <v-card-text class="white text--primary">
              <img src="@/assets/user/office-worker.svg" width="240" alt />
              <v-card-title class="headline">
                <h5>Web application development services</h5>
              </v-card-title>
              <p>
                We leverage modern technology and use cloud-based platforms to
                build custom web apps that are attractive, high performing, fully
                functional, as well as scalable to enterprise growth.
              </p>
              <v-btn class="mx-0" outlined>Button</v-btn>
            </v-card-text>
          </div>
        </v-card>

        <div class="text-center">
          <v-bottom-sheet v-model="sheet3">
            <v-sheet class="text-center" height="800px">
              <v-btn class="mt-6" text color="red" @click="sheet3 = !sheet3">close</v-btn>
              <div class="py-3">test 3</div>
            </v-sheet>
          </v-bottom-sheet>
        </div>
      </v-timeline-item>
      <!-- timeline 3 -->
      <v-timeline-item icon="mdi-cube-scan" fill-dot>
        <v-card dark>
          <v-card-text class="white text--primary">
            <img src="../assets/image/preview-project-01.png" width="240" alt />
            <v-card-title class="headline">
              <h5>Dowload for free</h5>
            </v-card-title>
            <p>
              our website you can download some programs or projects for free
              and you can try before buy it
            </p>
            <v-btn class="mx-0" outlined>Button</v-btn>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
</template>
<script>
export default {
  data: () => ({
    sheet1: false,
    sheet2: false,

    sheet3: false,

    tiles: [
      { img: "keep.png", title: "Keep" },
      { img: "inbox.png", title: "Inbox" },
      { img: "hangouts.png", title: "Hangouts" },
      { img: "messenger.png", title: "Messenger" },
      { img: "google.png", title: "Google+" },
    ],
    items: [
      {
        color: "red lighten-2",
        icon: "mdi-star",
      },
      {
        color: "purple darken-1",
        icon: "mdi-book-variant",
      },
      {
        color: "green lighten-1",
        icon: "mdi-airballoon",
      },
      {
        color: "indigo",
        icon: "mdi-buffer",
      },
    ],
  }),
};
</script>

<style scoped>
.firstpage {
  max-width: 100%;
  font-family: noto sans lao;
}
</style>
