<template>
  <div>
    <header class="v-header container">
      <div class="fullscreen-video-wrap">
        <!--  https://www.videvo.net/video/typing-on-computer-white-bg/4475/ -->
        <!-- DO NOT USE THIS VIDEO, I JUST NEEDED A HOSTED VIDEO FOR THIS CODEPEN> USE THE ONE ABOVE -->
        <video
          src="../assets/user/animetion.mp4"
          autoplay="autoplay"
          loop="loop"
          controls="controls"
          muted="muted"
        ></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content text-md-center">
        <h1>The-winner ຍິນດີຕ້ອນຮັບ</h1>
        <p>ສ້າງຄວາມພ້ອມ ເເລະ ການເເກ້ໄຂບັນຫາກ່ຽວການສືກສາກັບເຫດການໂຄວິດ19</p>
        <router-link to="/web">
          <v-btn class="btn" rounded color="primary" dark>ອ່ານບົດຄວາມ</v-btn>
        </router-link>
      </div>
    </header>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: #499dce9a;
  opacity: 1;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn {
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section {
  padding: 20px 0;
}

.section-b {
  background: #333;
  color: #fff;
}

@media (max-width: 960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
</style>