<template>
  <div>
    <v-container>
      <v-row>
        <v-col col="12" md="8">
          <h3>{{ post.title }}</h3>
          <p class="text-success">
            <v-icon>mdi-alarm</v-icon>
            {{ post.created_at | moment(" Do MMMM YYYY") }}
          </p>
          <div class="image">
            <img :src="post.images" alt />
          </div>
          <v-divider></v-divider>

          <div class="content container">
            <h4>Detail</h4>
            <p v-html="post.content" style="img:max-width:100%"></p>
          </div>
          <v-divider></v-divider>
          <v-row>
            <!-- button alsert dowload (vuetity button sheet) -->
            <div v-if="post.file_dowload">
              <v-col col="12" md="6">
                <v-bottom-sheet v-model="sheet" inset>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn text color="primary" v-bind="attrs" v-on="on" class="btn-iconer">
                      <span>Dowload</span>
                      <img src="../assets/image/load.png" width="30" alt />
                    </v-btn>
                  </template>
                  <v-sheet class="text-center" height="200px">
                    <v-btn class="mt-6" text color="error" @click="sheet = !sheet">close</v-btn>
                    <div class="my-3">
                      <h3>if you want to dowload Click here</h3>
                      <a :href="post.files">Dowload</a>
                    </div>
                  </v-sheet>
                </v-bottom-sheet>
              </v-col>
            </div>
            <!-- button alsert dowload -->

            <v-col col="12" md="6">
              <div>
                <v-btn text color="primary" class="btn-iconer">
                  <a :href="post.preview">
                    <span>Preview</span>
                    <img src="../assets/image/view.png" width="30" alt />
                  </a>
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-col>
        <v-col col="12" md="4">
          <div class="stic">
            <recomment />
            <!-- <recomvdo /> -->
          </div>
        </v-col>
      </v-row>
    </v-container>

    <Navbar />
  </div>
</template>

<script>
import Navbar from "./navbar";
import { db, fb } from "@/config/database";
import InputTag from "vue-input-tag";
import firebase from "firebase";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import footer from "./footer";
import recomment from "./project";
import recomvdo from "./course/detial_course";

export default {
  data() {
    return {
      post: [],
      sheet: false, //action button sheet dowload alert
    };
  },
  created() {
    let ref = db
      .collection("infomations")
      .where("title", "==", this.$route.params.viewproject);
    ref.get().then((snapshot) => {
      snapshot.forEach((doc) => {
        this.post = doc.data();
        this.post.id = doc.id;
      });
    });
  },
  components: {
    Navbar,
    InputTag,
    footer,
    recomment,
    recomvdo,
  },
};
</script>

<style lang="scss" scoped>
.image img {
  width: 100%;
  max-width: 600px;
}
.content {
  margin-top: 20px;
  max-width: 100%;
}
.content img {
  max-width: 100%;
  width: 500px;
}
.btn-iconer {
  width: 100%;
}
.stic {
  // position: sticky;
  top: 0;
  // background: rgba(228, 228, 228, 0.424);
}
</style>
