<template>
  <div>
    <v-container fluid>
      <div class="elearning mb-5">
        <img class="animate__animated animate__bounceIn" src="../assets/user/3794014.png" alt />
      </div>
      <h2 style="font-family:noto sans lao" class="text-center">ບົດຄວາມ</h2>
      <v-alert class="container" border="bottom" colored-border type="info" elevation="2">
        <p
          style="font-family:noto sans lao"
        >ການປ່ຽນເເປງຮູບເເບບໄຫມ່ໃນການສືກສາເຮົາມາພັດທະນາສ້າງສາປະເທດໃຫ້ທັນຍຸກທັນສະໄຫມ</p>
      </v-alert>
      <div class="row">
        <div class="col-12 col-md-4" v-for="(post, index) in posts" :key="index">
          <div class="col">
            <v-hover v-slot:default="{ hover }" close-delay="200">
              <router-link tag="span" :to="{ name: 'view', params: { viewproject: post.title } }">
                <v-card :elevation="hover ? 16 : 2" class="mx-auto" max-width="344">
                  <v-img :src="post.images" height="200px"></v-img>

                  <v-card-title>{{ post.title }}</v-card-title>

                  <v-card-subtitle>
                    <span class="text-success">
                      {{
                      post.created_at | moment(" Do MMMM YYYY")
                      }}
                    </span>
                  </v-card-subtitle>

                  <v-card-actions>
                    <div v-if="post.preview_link" class="mr-3">
                      <img src="../assets/image/view.png" width="30" alt />
                    </div>
                    <div v-if="post.file_dowload">
                      <img src="../assets/image/load.png" width="30" alt />
                    </div>

                    <v-btn
                      color="blue "
                      text
                      class="animate__animated animate__pulse animate__infinite infinite"
                    >
                      Details
                      <v-icon color="blue">mdi-arrow-right-circle-outline</v-icon>
                    </v-btn>

                    <v-spacer></v-spacer>
                  </v-card-actions>

                  <v-expand-transition></v-expand-transition>
                </v-card>
              </router-link>
            </v-hover>
          </div>
        </div>
      </div>
    </v-container>

    <nabar />
  </div>
</template>

<script>
import nabar from "../views/navbar";
import { db, fb } from "@/config/database";
export default {
  data() {
    return {
      rating: "",
      posts: [],
    };
  },
  methods: {},
  components: {
    nabar,
  },
  created() {
    db.collection("infomations")
      .orderBy("timestamp", "desc")
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          // doc.data() is never undefined for query doc snapshots
          console.log(doc.id, " => ", doc.data());
          var data = doc.data();
          data.id = doc.id;
          this.posts.push(data);
        });
      });
  },
};
</script>

<style>
router-link {
  text-decoration: none;
}
.elearning {
  background-image: url("../assets/user/ex.jpg");
  background-size: cover;
  margin-bottom: 50px;
}
.elearning img {
  max-width: 100%;
}
.elearning h4 {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: black;
}
</style>
