<template>
  <div>
    <p>admin page</p>
    <Navbar />
  </div>
</template>

<script>
import Navbar from "../components/nav_admin";
export default {
  data() {
    return {};
  },
  components: {
    Navbar,
  },
};
</script>

<style></style>
