<template>
  <div>
    <div class="container text-center">
      <h2 class="text-center">The-winer ຍິນດີຕ້ອນຮັບ</h2>

      <h5 class="text-center mb-5">ຂອບໃຈສຳລັບການເຂົ້າມາເຜີຍເເຜ່ຄວາມຮູ້ຂອງ</h5>

      <v-alert class="text-left" outlined type="warning" prominent border="left">
        ກະລຸນາຢ່າ
        <strong>Refresh page</strong> ເພາະລະບົບຈະທຳການ
        <strong>Log-out auto</strong> ມັນຈະເຮັດໃຫ້ທ່ານໃດ້ໃສ່ລະຫັດ
        <strong>Login</strong> ເຂົ້າມາໄຫມ່
      </v-alert>
      <v-row>
        <v-col col="12" md="6">
          <router-link tag="span" to="upload_infomation">
            <div class="pagecart">
              <img src="../assets/image/write.png" alt />
              <h4 class="mt-3 text-primary">ຂຽນບົດຄວາມຂອງທ່ານ</h4>
              <p class="text-primary">ເປັນການເພີ່ມ ຫລື ການເຜີຍເເຜ່ຄວາມຮູ້ຂອງທ່ານ</p>
              <div class="text-center"></div>
            </div>
          </router-link>
        </v-col>
        <v-col col="12" md="6">
          <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{ on, attrs }">
              <div class="pagecart" v-bind="attrs" v-on="on">
                <img src="../assets/image/login.png" alt />
                <h4 class="mt-3 text-primary">ເບີ່ງບົດຄວາມຂອງທ່ານ</h4>
                <p class="text-primary">ອ່ານບົດຮຽນ ຫຼື ເບິ່ງບົດຄວາມທີທ່ານໃດ້ຂຽນເເລ້ວ</p>
              </div>
            </template>
            <v-card>
              <v-toolbar dark color="primary">
                <v-btn icon dark @click="dialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>
                  <h5>upload data</h5>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                  <v-btn dark text @click="dialog = false">Save</v-btn>
                </v-toolbar-items>
              </v-toolbar>
              <v-list three-line subheader>
                <v-subheader></v-subheader>
                <p
                  v-for="n in 10 "
                  :key="n"
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quia velit deserunt ut ullam officiis ipsum asperiores fugiat mollitia incidunt dolore corrupti, quo eius aspernatur omnis inventore excepturi animi dolores?</p>
              </v-list>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </div>
    <!-- navbar user -->
    <navbaruser />
    <!-- navbar user -->
  </div>
</template>

<script>
import navbaruser from "./nav_user";
import { db, fb } from "@/config/database";
import firebase from "firebase";
import upload from "../components/users/upload_infomation";

export default {
  name: "db_user",
  data() {
    return {
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
    };
  },
  components: {
    navbaruser,
    upload,
  },
};
</script>
<style  scoped>
.container {
  margin-top: 0px;
  font-family: "HelvLight", "noto sans lao";
}
.container h2,
h5,
h4,
p {
  font-family: "HelvLight", "noto sans lao";
}
.pagecart {
  border: 1px solid rgb(0, 49, 128);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(55, 190, 253, 0.178),
    0 6px 20px 0 rgba(59, 144, 255, 0.219);
  font-family: "HelvLight", "Noto Sans lao";
}
.pagecart a {
  text-decoration: none;
}
.pagecart img {
  width: 35px;
}
.pagecart:hover {
  border: 1px solid green;
  border-radius: 10px;

  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(17, 174, 246, 0.356),
    0 6px 20px 0 rgba(8, 111, 246, 0.404);
}
</style>
