<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <router-link to="/" tag="span">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="blue darken-1">mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-action>
              <h6>ຫນ້າບ້ານ</h6>
            </v-list-item-action>
          </v-list-item>
        </router-link>
        <router-link to="/db_user/upload_infomation" tag="span">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="blue darken-1">mdi-pencil-plus-outline</v-icon>
            </v-list-item-action>
            <v-list-item-action>
              <h6>ຂຽນບົດຄວາມ</h6>
            </v-list-item-action>
          </v-list-item>
        </router-link>
        <router-link to="/db_user/user_view" tag="span">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="blue darken-1">mdi-book-open-page-variant</v-icon>
            </v-list-item-action>
            <v-list-item-action>
              <h6>ເບີງບົດຄວາມ</h6>
            </v-list-item-action>
          </v-list-item>
        </router-link>

        <v-subheader class="mt-4 grey--text text--darken-1">SUBSCRIPTIONS</v-subheader>
        <v-list v-if="user">
          <v-list-item class="mt-4" link>
            <v-list-item-action>
              <v-icon color="green lock">mdi-lock</v-icon>
            </v-list-item-action>
            <v-list-item-title @click="logout" class="green--text text--darken-1">LOGOUT</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left color="blue" dense>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <!-- <v-icon class="mx-4" large>mdi-youtube</v-icon> -->
      <v-toolbar-title class="mr-12 align-center">
        <span class="title text-white">Hello , {{persion.name}}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-row align="center" style="max-width: 650px"></v-row>
    </v-app-bar>

    <v-main>
      <!-- <v-container fluid>
        <v-row justify="left" align="center"></v-row>
      </v-container>-->
    </v-main>
  </v-app>
</template>
<script>
import { db, fb } from "@/config/database";
import firebase from "firebase";

export default {
  name: "nav_user",
  data() {
    return {
      drawer: null,
      persion: {
        name: null,
        email: null,
      },
    };
  },
  firestore() {
    const user = firebase.auth().currentUser;
    return {
      persion: db.collection("users").doc(user.uid),
    };
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push({ name: "login_register" });
        });
    },
  },
  created() {
    this.$vuetify.theme.dark = false;

    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.user = user;
      } else {
        this.user = null;
      }
    });
  },
};
</script>
<style scoped>
h6 {
  font-family: "noto sans lao";
  color: rgb(70, 70, 248);
}
.container-fuild {
  position: absolute;
  top: 50px;
  font-family: "HelvLight", "Noto Sans lao";
}
</style>