<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <router-link to="/" tag="span">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="grey darken-1">mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-action>Home</v-list-item-action>
          </v-list-item>
        </router-link>
        <router-link to="/admin/inserts" tag="span">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="grey darken-1">mdi-plus-circle-outline</v-icon>
            </v-list-item-action>
            <v-list-item-action>Upload Data</v-list-item-action>
          </v-list-item>
        </router-link>
        <router-link to="/admin/views" tag="span">
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="grey darken-1">mdi-plus-circle-outline</v-icon>
            </v-list-item-action>
            <v-list-item-action>views</v-list-item-action>
          </v-list-item>
        </router-link>

        <v-subheader class="mt-4 grey--text text--darken-1">SUBSCRIPTIONS</v-subheader>
        <v-list v-if="user">
          <v-list-item class="mt-4" link>
            <v-list-item-action>
              <v-icon color="grey lock">mdi-plus-circle-outline</v-icon>
            </v-list-item-action>
            <v-list-item-title @click="logout" class="red--text text--darken-1">LOGOUT</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left color="red" dense>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <!-- <v-icon class="mx-4" large>mdi-youtube</v-icon> -->
      <v-toolbar-title class="mr-12 align-center">
        <span class="title">Admin</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-row align="center" style="max-width: 650px"></v-row>
    </v-app-bar>

    <v-main>
      <!-- <v-container fluid>
        <v-row justify="left" align="center"></v-row>
      </v-container>-->
    </v-main>
  </v-app>
</template>

<script>
import firebase from "firebase";
import { db, fb } from "@/config/database";
export default {
  data() {
    return {
      drawer: false,
      user: null,
    };
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push({ name: "login" });
        });
    },
  },
  created() {
    this.$vuetify.theme.dark = false;

    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.user = user;
      } else {
        this.user = null;
      }
    });
  },
};
</script>
