<template>
  <v-app>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {};
</script>
<style >
.container {
  font-family: "Noto Sans lao";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "HelvLight", "Noto Sans lao";
}
</style>